* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body {
    background-color: rgb(32, 32, 32);
    overflow: hidden;
    height: 100vh;
}

i {
    position: absolute;
    height: 200px;
    background: linear-gradient(transparent, #fff);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: animate 5s linear infinite;
}

i:nth-child(3n+1) {
    background: linear-gradient(transparent, rgba(163, 163, 163, 0.849))
}

i:nth-child(3n+2) {
    background: linear-gradient(transparent, rgb(182, 182, 182))
}

i:nth-child(3n+3) {
    background: linear-gradient(transparent, rgb(161, 161, 161))
}

@keyframes animate {

    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(calc(100vh + 200px));
    }
}

p {
    font-size: 40px;
    color: #b8b8b8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}